@{
    ViewBag.Title = "الشركه";
}
<center>
    <h2>عن الشركه </h2>
    <p>ِشارع الخليفه المأمون</p>
     <a href="https://www.facebook.com/uptopeg"><i class="fab fa-facebook-square"></i> facebook </a> |
    <a href="https://Support@UPTOP-EG.COM" ><i class="fab fa-google-plus-square"></i> Google</a> |
    <a href="https://WWW.UPTOP-EG.COM"><i class="fas fa-globe"></i> WEBSITE</a>
    <br />
    <p>Programming -Advertising - Social Media - Web Desgin</p>
</center>