
@{
    ViewBag.Title = "حذف المعلومات";
}


<center>
    <h2> تم حذف جميع معلومات المكان</h2>
</center>
<br />
<a href="@Url.Action("delletall","mange")" class="btn btn-default"><i class="fas fa-backward"></i> الرجوع</a>
