
@{
    ViewBag.Title = "حذف المكاتب";
}

<center>
    <h2> تم حذف جميع المكاتب</h2>
</center>
<br />
<a href="@Url.Action("delletall","mange")" class="btn btn-default"><i class="fas fa-backward"></i> الرجوع</a>
