
@{
    ViewBag.Title = "HavntAccess";
}

<h2> </h2>



<center>

    <h1>ليس لديك الصلاحيه لهذه الصفحه</h1>

</center>

<a href="@Url.Action("index","home")" class="btn btn-default"><i class="fas fa-backward"></i> الرجوع</a>
